.category-list {

}

.category-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-item input {
    max-width: calc(100% - 50px);
}
.category-item .small-btn {
    display: none;
}

.category-item > button:first-child {
    background-color: transparent;
    border: none;
    text-align: left;
    max-width: calc(100% - 50px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-item:hover .small-btn {
    display: block;
}

.category-add {
    cursor: pointer;
}