.comment-item {
    margin-top: 20px;
    background-color: #f5f5f5;
    border-radius: 3px;
    overflow: hidden;
}

.comment-item-actions {
    display: flex;
    justify-content: flex-end;
}